@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply w-[90%] max-w-[600px] bg-white p-[30px] mt-[80px] mx-auto mb-0 rounded-[10px];
    }
    .answer-button{
        @apply w-full p-3 text-left border border-black rounded-lg my-[10px] font-medium disabled:cursor-not-allowed ;
    }
    .correct{
        @apply bg-teal-300;
    }
    .incorrect{
        @apply bg-red-300;
    }
    .label {
        @apply font-medium text-lg text-slate-900;
    }
}

@layer utilities {
    .answer-button:hover:not([disabled]) {
        background: #152342;
        color: #fff;
    }
    .answer-button:disabled {
        cursor: no-drop;
    }
}